# Python
__pycache__/
results/
*.py[cod]

# Build artifacts
*.egg-info/
build/
dist/

# Virtual environments
.venv/
env/

# IDE settings
.vscode/
.idea/
cases/gerd_roseires/gerd_q_calc.py
gerd_upstream_rating_curve.csv

# C# / .NET build artifacts
FlowSimApp/bin/
FlowSimApp/obj/
